### List  군집자료형

In [2]:
# List에 데이터 넣기

myList = list()          # []

for i in range(1,11):
    myList.append(i)     #List에 데이터 넣기
    
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
myList =  list(range(1,11))
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
myList =  [range(1,11)]
print(myList)

[range(1, 11)]

### 리스트 요소 인덱싱 슬라이싱

In [9]:
colors = ['red', 'green', 'blue', 'black', 'white']
print(colors[2])
print(colors[2:])

blue
['blue', 'black', 'white']

In [10]:
colors = ['red', 'green', 'blue', 'black', 'white']
print(colors[2])
print(colors[2:])
print(colors[2,3,4])

blue
['blue', 'black', 'white']

TypeError: list indices must be integers or slices, not tuple

In [17]:
colors = ['red', 'green', 'blue', 'black', 'white']

for color in colors:
    print(f'나는 {color}색상을 좋아합니다')

나는 red색상을 좋아합니다
나는 green색상을 좋아합니다
나는 blue색상을 좋아합니다
나는 black색상을 좋아합니다
나는 white색상을 좋아합니다

In [1]:
colors = ['red', 'green', 'blue', 'black', 'white']
fruits = ['apple', 'grape', 'orange']
print(colors+fruits)

['red', 'green', 'blue', 'black', 'white', 'apple', 'grape', 'orange']

In [2]:
colors.append('violet')
colors

['red', 'green', 'blue', 'black', 'white', 'violet']

In [3]:
colors.remove('black')
colors

['red', 'green', 'blue', 'white', 'violet']

In [4]:
colors[2] = 'Blue'
colors

['red', 'green', 'Blue', 'white', 'violet']

### 2차원리스트

In [6]:
numbers = [[10,20,30],[40,50,60,70]]

print(numbers[0])
print(numbers[1])
print(numbers[1][3])

[10, 20, 30]
[40, 50, 60, 70]
70

In [7]:
numbers = [[10,20,30],[[40,50],60,70]]
print(numbers[1][0][0])

40

In [16]:
num = [[1,2,3,4],
        [5,6,7,8],
        [9,10,11,12]]

for i in range(3):
    for j in range(4):
        
        print(f'{numbers[i][j]:2}',end = ' ')
    print()

 1  2  3  4
 5  6  7  8
 9 10 11 12

In [14]:
threeFour = [ [0] * 4 for _ in range(3) ]
num = 1
for i in range(3):
    for j in range(4):
        threeFour[i][j] = num
        num += 1
for i in threeFour:
    for j in i:
        print(f'{j:>2d}', end=' ')
    print()

 1  2  3  4
 5  6  7  8
 9 10 11 12

In [20]:
mylist = list()
for i in range(1,201):
    if i % 3 == 0:
        mylist.append(i)
print(mylist)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [ ]:
# 리스트 컴프리헨션

mylist  [i for 1 in range(1,201) if i % 3 == 0]
print(mylist)

In [28]:
idols = ['BTS','트와이스','블랙핑크','뉴이스트']
jumsu = []

for idx, value in enumerate(idols):
    tmp = int(input(f'{value}의 성적 입력: '))
    jumsu.append(tmp)
    
print('-'*30)
print('아이돌 성적 결과')
print('-'*30)

result = ''
for i in range(len(idols)):
    if  jumsu[i] >= 80: result = '수료'
    else: result = '미수료'
        
    print(f'{idols[i]}의 성적은 {jumsu[i]}점:{result}')

BTS의 성적 입력: 100
트와이스의 성적 입력: 80
블랙핑크의 성적 입력: 90
뉴이스트의 성적 입력: 70
------------------------------
아이돌 성적 결과
------------------------------
BTS의 성적은 100점:수료
트와이스의 성적은 80점:수료
블랙핑크의 성적은 90점:수료
뉴이스트의 성적은 70점:미수료

In [33]:

ymd = input(f'YYYYMMDD :')
year = int(ymd[0:4])
month = int(ymd[4:6])
day = int(ymd[6:])

dates = [31,28,31,30,31,30,31,31,30,31,30,31]

if year%400==0 or(year%100!=0 and year%4==0):
    date[1]=29
    
print("-"*30)
day_cnt=0
for i in range(month -1):
    day_cnt+=dates[i]
day_cnt+=day
print(f'{year}//1//1 ~ {year}//{month}//{day} : {day_cnt}')

YYYYMMDD :20210721
------------------------------
2021//1//1 ~ 2021//7//21 : 202

In [34]:
ymd = input(f'YYYYMMDD :')
year = int(ymd[0:4])
month = int(ymd[4:6])
day = int(ymd[6:])

dates = [31,28,31,30,31,30,31,31,30,31,30,31]

if year%400==0 or(year%100!=0 and year%4==0):
    date[1]=29
    
print("-"*30)
day_cnt=0
for i in range(month -1):
    day_cnt+=dates[i]
day_cnt+=day-1
print(f'{year}//1//1 ~ {year}//{month}//{day} : {day_cnt}')

YYYYMMDD :20210721
------------------------------
2021//1//1 ~ 2021//7//21 : 201

In [31]:
today = input('YYYYMMDD :')
today_y = int(today[0:4]); today_m = int(today[4:6]) ; today_d = int(today[6:8])
dates = [31,28,31,30,31,30,31,31,30,31,30,31]
if today_y % 400 ==0 or (today_y %100 != 0 and today_y % 4 ==0):
    dates[1]=29
days = sum(dates[0:today_m-1])+today_d-1
print('-'*20)
print(f'{today_y}/1/1 ~ {today_y}/{today_m}/{today_d} : {days}')

YYYYMMDD :20210721
--------------------
2021/1/1 ~ 2021/7/21 : 201

### 기간의 소요일 구하기

In [36]:
import datetime

start = input('시작일(YYYYMMDD): ')
end = input('시작일(YYYYMMDD): ')

sday = datetime.datetime.strptime(start,'%Y%m%d')
eday = datetime.datetime.strptime(end,'%Y%m%d')
print(f'{start} ~{end}까지의 소요일은 {(eday - sday).days}일')

시작일(YYYYMMDD): 20210101
시작일(YYYYMMDD): 20210721
20210101 ~20210721까지의 소요일은 201일